* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #0d0630;
  --medium-blue: #384e77;
  --light-blue: #8ba3be;
  --lighter-blue: #add8e6;
}

body,
#body-edit,
#container,
#header,
#title-main button,
#footer {
  background-color: var(--dark-blue);
  color: var(--lighter-blue);
  font-family: 'Anonymous Pro', monospace;
}

body a {
  color: var(--lighter-blue);
  text-decoration: none;
}

#header-edit span,
#header span {
  font-size: 30px;
  font-weight: bold;
}

#input-header,
#input-header input {
  width: 20%;
  height: 35px;
}

#input-header {
  width: fit-content;
}

#input-header button {
  height: 105%;
  background-color: var(--light-blue);
  transition: 200ms ease;
}

#input-header button:hover {
  color: snow;
  filter: brightness(0.8);
  transition: 400ms ease;
}

#input-header input {
  height: 100%;
  border-radius: 0 8px 8px 0;
}

#navigation-bar-header {
  background-color: var(--medium-blue);
  padding: 0.1rem 0;
  border-radius: 12px 12px 0 0;
}

#navigation-bar-header ul {
  list-style: none;
}

#navigation-bar-header ul li {
  transition: 200ms linear;
}

#navigation-bar-header ul li:hover {
  scale: 1.1;
  cursor: pointer;
  transition: 200ms linear;
  text-decoration: overline;
  font-weight: 600;
}

#main,
#main-edit {
  background-color: var(--dark-blue);
  width: 100%;
}

#main #title-main {
  width: 69%;
  margin-right: 0;
  color: var(--lighter-blue);
}

#title-main button {
  color: var(--lighter-blue);
  transition: 250ms ease;
  border: 1px solid var(--lighter-blue);
  text-decoration: none;
}

#title-main button:hover {
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  background-color: var(--lighter-blue);
  transition: 250ms ease;
}

#table-container {
  height: 600px;
  font-family: sans-serif;
}

#table-container::-webkit-scrollbar {
  width: 10px;
}

#table-container::-webkit-scrollbar-track {
  background: var(--light-blue);
}

#table-container::-webkit-scrollbar-thumb {
  background: var(--medium-blue);
}

#table-container::-webkit-scrollbar-thumb:hover {
  background: #1d3461;
  cursor: pointer;
}

#table th,
#table td {
  text-align: center;
}

#table th,
#table td:nth-child(-n + 4) {
  padding-top: 25px;
}

#table button:hover,
#footer nav a:hover {
  scale: 1.1;
  color: #384e77;
}

#footer section:last-child {
  background-color: var(--medium-blue);
  border-radius: 0 0 12px 12px;
  color: var(--lighter-blue);
  width: 100%;
}

#footer section a {
  font-size: 16px;
}

#footer nav a {
  color: var(--lighter-blue);
}

@media only screen and (max-width: 600px) {
  .email-col {
    display: none;
  }
  #header-edit section a,
  #header section a {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 200px) and (max-width: 575px) {
  .dropdown button {
    width: 100%;
  }

  #main #title-main {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  #main #title-main {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 2000px) {
  #footer {
    bottom: 0;
    position: fixed;
  }
}
